Flask==2.2.2
Flask-SocketIO==5.3.6
simple-websocket==1.0.0
aiortc==1.8.0
Werkzeug==2.2.2
requests==2.31.0
PyYAML==6.0.1
numpy==1.24.2
Pillow==9.4.0
opencv-contrib-python==4.9.0.80
imutils==0.5.4
mediapipe==0.10.9
picamera2==0.3.17
simplejpeg==1.6.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
pyserial==3.5
sounddevice==0.4.6
soundfile==0.12.1
depthai
